.info
{
    margin: 40px;
}

.zdjecia
{
    height: 400px;
    width: 300px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

.zdjecia:hover
{
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.animacja1
{
    transition: all 6s ease-out;
    border-radius: 20px;
    padding: 10px;
}

.kolor:hover
{
    background-color: white;
}

